<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Coban</title>

    <link rel="stylesheet" href="my-bundle-css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-secondary">
            <div class="">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Coban</a>
            </div>
        </nav>

    </header>
    <div class="m-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Coban.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="my-bundle-js"></script>
    @RenderSection("Scripts", required: false)

   



</body>
</html>
